In [15]:
#import libraries
import kaggle

In [16]:
#Download dataset from kaggle using API
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [17]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv --force

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv to C:\Users\pcpoint

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<?, ?B/s]

In [18]:
import zipfile

zipfile.is_zipfile("orders.csv")

True

In [19]:
with zipfile.ZipFile("orders.csv", "r") as zip_ref:
    zip_ref.extractall("orders_data")

In [20]:
#Reda data from file and handle null values
import pandas as pd

# Read the CSV inside
df = pd.read_csv("orders_data/orders.csv", na_values=['Not Available','unknown'])
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [21]:
#Rename colunm name and make them lower case and replace space into underscore 
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [44]:
#Dervie new column discount, sale price and profit
#df['discount']=df['list_price']*df['discount_percent']*.01
#df["sale_price"]=df['list_price']-df['discount']
df['profit']= df['sale_price']-df['cost_price']

In [23]:
#convert orders date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'], format="%Y-%m-%d")

In [48]:
#drop columns cost price , list price and discount percent columns
#df.drop(columns=['cost_price', 'list_price', 'discount_percent'], inplace=True)
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [25]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\pcpoint\appdata\roaming\python\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [26]:
#Load data into mysql database using replace option
import sqlalchemy as sal
engine = sal.create_engine(
    'mysql+pymysql://Sagarpython:mypassword@localhost:3306/sql_python'
)
conn = engine.connect()

In [52]:
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

9994